[Unit]
Description=Enable bluetooth on r8723bs
PartOf=systemd-rfkill.service

[Service]
ExecStart=/root/hardware/bluetooth/rtl8723bs_bt/start_bt.sh
RemainAfterExit=yes

[Install]
WantedBy=bluetooth.service
