[Unit]
After=sound.target
ConditionPathExistsGlob=/dev/snd/control*

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/hardware/sound/setup_bytcr_rt5651_asound_state.sh

[Install]
# WantedBy=multi-user.target
