[Unit]
After=alsa-restore.service

[Service]
Type=simple
ExecStart=/root/hardware/sound/setup_bytcr_rt5651_asound_state.sh

[Install]
WantedBy=multi-user.target
